*{
    box-sizing: border-box;
}
body{
    position: relative;
    font-size: 12px;
    line-height: 1.2;
    background-color: white;
    width: 100%;
    overflow-y:hidden;
}
main{
    height: calc(100vh - 50px);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;

}
main section{
    display: none;
    height: 100%;
    overflow-x: scroll;
}
main section:first-child{
    display: block;
}

/* section */
.item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.item>a{
    display: flex;
    text-decoration: none !important;
    color:#ccc ;
}
.item>a .cover,
.item>a img{
    width: 70px;
}
.item .datail{
    flex: 1;
    padding-left: 10px;
}
.item .datail .score{
    color: #ff5722 !important;
}
.item .datail h2{
    font-size: 16px;
}
.item .extra{
    margin-top:5px ;
}
#comaing span{
    margin-right: 5px;
}
/* search */
.searchBox {
    display: flex;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}
.searchBox input{
    flex: 1;
    padding: 5px;
    outline: none;
    border: none;
    border-radius:10;
    background-color: #EDEDED;
}
.searchBox button{
    padding: 0;
    width: 75px;
    margin-left: 5px;
    background-color: rgb(255,100,39);
    border: none;
}

/* footer */
footer{
    display: flex;

}
footer>div{
    flex: 1;
    text-align: center;
    border-top: 1px solid #ccc;
}
footer > div > span{
    display: block;
    padding-top: 5px;
}
footer .active{
    color: #ff5622;
}
.loading{
    text-align: center;
    padding: 5px;
}
.loading>.iconfont{
    display: inline-block;
    animation: 1s rotate linear infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}